:root {
  --primary: #e1eceb;
  --secondary: #3d5654;
  --gold: #a88d3c;
  --fade: #425c5a;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  min-height: 95vh;
  min-width: 100%;
}

.ui-container {
  /* border: 1px solid; */
  min-height: 80vh;
  min-width: 80vw;
  border-radius: 15px;
}

.ui-container .row {
  background: var(--primary);
  border-radius: 15px;
  margin-bottom: 30px;
}

.ui-container .row .col-md-3 {
  min-height: 80vh;
  border-radius: 15px 30px 30px 15px;
  padding: 0;
  background: var(--fade);
}

.ui-container .row .col-md-8 {
  min-height: 80vh;
}

.img-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.img-container img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  padding: 0.5px;
}

.info-container {
  color: white;
  padding-top: 15%;
  padding-bottom: 10px;
  background: var(--secondary);
  border-radius: 30px 30px 0 0;
}

.info-container .text-container {
  text-align: center;
  margin-top: 10px;
}

.info-container h5 {
  font-size: 15px;
}

.info-container p {
  font-size: 10px;
}

.list-items {
  width: 100%;
}

.list-items ul {
  color: #fff;
  margin: 0;
  padding: 0;
}

.list-items ul li {
  list-style: none;
  padding: 10px;
  min-height: 8vh;
  background: var(--fade);
  padding-left: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.list-items ul li i {
  font-size: 22px;
  color: var(--gold);
}


.list-items ul li:nth-child(1) {
  border-radius: 0 0 20px 0;
}

.list-items ul li:nth-child(3) {
  border-radius: 0 20px 0 0;
}

.list-items .active {
  background: var(--primary);
  color: #425c5a;
  margin-left: 20px;
  border-radius: 20px 0 0 20px;
}

.active-users {
  padding-left: 25px;
  margin-top: 20px;
}

.active-users h6 {
  color: var(--gold);
  font-size: 13px;
  text-transform: uppercase;
}

.active-users img:nth-child(3) {
  width: 100%;
  margin-top: 10px;
}

.d-container {
  width: 100%;
}

.d-container .card {
  margin-top: 25px;
  border: 0;
  border-radius: 15px;
  min-height: 20vh;
}


.f-row {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.f-row .cnt {
  border-radius: 20px;
  min-height: 40px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.f-row .cnt:nth-child(1) {
  width: 50%;
}

.f-row .cnt:nth-child(2) {
  width: 20%;
}

.f-row .cnt:nth-child(3) {
  width: 30%;
}

.f-row .cnt div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}

.f-row .cnt i {
  color: var(--secondary);
}

.f-row .cnt h6 {
  font-size: 12px;
  margin: auto 0;
}

.f-row .cbg {
  background: var(--secondary);
  margin: 0;
  padding: 5px 13px;

  color: white;
  border-radius: 20px;
}

.cnt .cb {
  color: White !important;
  padding: 5px;
  border-radius: 50%;
  background: var(--secondary);

}

.cnt-g {
  background: var(--gold) !important;
  color: white;
}

.r-sec {
  display: flex;
  justify-content: space-between;
}

.r-sec .r-text {
  display: flex;
  gap: 5px;
}

.r-sec h3 {
  color: var(--secondary);
  font-size: 15px;
}

.r-sec .r-cnt {
  border-radius: 20px;
  padding: 5px 25px;
  background: #fff;
  font-size: 12px;
}

.row-card .rw-card {
  margin-top: 22px;
}

.row-card .card {
  margin-top: 13px;
  min-height: 5vh;
}

.des-card {
  margin-top: 22px;
  border-radius: 20px;
  min-height: 100%;
  background: var(--secondary);
}

.row-card .rw-cnt img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  filter: grayscale(100%);
}

.row-card .rw-cnt h6 {
  font-size: 13px;
  text-transform: uppercase;
}

.row-card .rw-cnt p {
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.des-card .txt-rw {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
  padding-top: 30px;
  /* border: 1px solid; */
}

.des-card .txt-rw p {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.7;
}

.des-card img {
  margin-top: 40px;
  width: 100%;
}

.des-card .txt2-rw {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 45px;
  color: white;
}

.des-card .txt2-rw h6 {
  font-size: 9px;
}

.des-card .txt2-rw h6:nth-child(1) {
  padding: 5px 10px;
  border-radius: 20px;
  background: var(--gold);
}